<?xml version="1.0" encoding="utf-8" standalone="no" ?>

<GUI onOpen="onOpen" onClose="onClose" onCreate="onCreate">
    <Bitmap profile="fs25_fullScreenBackground" id="background"/>

    <Paging profile="uiInGameMenuPaging" onPageChange="onPageChange" onPageUpdate="onPageUpdate" id="pagingElement">
        <FrameReference ref="autoDriveVehicleSettings" name="autoDriveVehicleSettings" id="autoDriveVehicleSettings"/>
        <FrameReference ref="autoDriveCombineUnloadSettings" name="autoDriveCombineUnloadSettings" id="autoDriveCombineUnloadSettings"/>
        <FrameReference ref="autoDriveUserSettings" name="autoDriveUserSettings" id="autoDriveUserSettings"/>
        <FrameReference ref="autoDriveGlobalSettings" name="autoDriveGlobalSettings" id="autoDriveGlobalSettings"/>
        <FrameReference ref="autoDriveEnvironmentSettings" name="autoDriveEnvironmentSettings" id="autoDriveEnvironmentSettings"/>
        <FrameReference ref="autoDriveDebugSettings" name="autoDriveDebugSettings" id="autoDriveDebugSettings"/>
    </Paging>

    <Bitmap profile="fs25_tabListContainer" id="header">
        <MultiTextOption profile="uiInGameMenuHeaderSelector" onClick="onClickPageSelection" id="pageSelector" soundDisabled="true"/>
        <SmoothList profile="fs25_tabList" id="pagingTabList" onSelectionChanged="onTabMenuSelectionChanged" onScroll="onTabMenuScroll">
            <ListItem profile="fs25_tabListItem">
                <Button profile="fs25_tabListItemButton" name="tabButton" soundDisabled="true"/>
                <Bitmap profile="fs25_tabListItemSeparator"/>
                <Bitmap profile="fs25_tabListItemSeparatorBottom"/>
            </ListItem>
        </SmoothList>
    </Bitmap>

    <BoxLayout profile="fs25_buttonBox" id="buttonsPanel">
        <Button profile="buttonBack" onClick="onClickBack" id="menuButton[1]">
            <Bitmap profile="fs25_buttonBoxSeparator" name="separator"/>
        </Button>
        <Button profile="buttonOK" text="button_apply" onClick="onClickOk" id="menuButton[2]">
            <Bitmap profile="fs25_buttonBoxSeparator" name="separator"/>
        </Button>
        <Button profile="buttonCancel" text="$l10n_button_reset" onClick="onClickReset" id="menuButton[3]">
            <Bitmap profile="fs25_buttonBoxSeparator" name="separator"/>
        </Button>
        <Button profile="buttonActivate" text="gui_ad_restoreButtonText" onClick="onClickRestore" id="menuButton[4]">
            <Bitmap profile="fs25_buttonBoxSeparator" name="separator"/>
        </Button>
        <Button profile="buttonSelect" text="gui_ad_setDefaultButtonText" onClick="onClickSetDefault" id="menuButton[5]">
            <Bitmap profile="fs25_buttonBoxSeparator" name="separator"/>
        </Button>
    </BoxLayout>
</GUI>